.card-div {
  background-color: $darkBlue;
  color: $white;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform: scale(1.02);
  }
  img {
    width: 100%;
    height: 195px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  b {
    font-weight: bold;
  }

  .text-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .card-text {
    padding: 30px 15px 50px 15px;
  }
  .card-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .subText {
    font-size: 14px;
    font-weight: 400;
  }
}
