.card-div {
  background-color: $darkBlue;
  color: $white;
  border-radius: 5px;
  img {
    width: 100%;
    height: 195px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  b {
    font-weight: 400;
  }

  .text-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .card-text {
    padding: 30px 15px 50px 15px;
  }
  .card-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .subText {
    font-size: 14px;
    font-weight: 600;
  }
}
