.search-country {
  @include breakpoint-up(large) {
    display: flex;
    justify-content: space-between;
  }
}

.icon-input {
  position: relative;
  box-shadow: var(--box-shadow-cards);
  border-radius: 5px;
  @include breakpoint-up(large) {
    width: 450px;
  }
  margin-bottom: 40px;
  .search-input {
    width: 100%;
    padding: 18px 5px 18px 40px;
    background-color: var(--bg-secondary);
    border: none;
    outline: none;
    color: var(--text-primary);
    border-radius: 5px;
    font-size: 16px;
    &::placeholder {
      color: var(--text-primary);
    }
  }

  .icon-val {
    color: var(--text-primary);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

.dropdown {
  margin-bottom: 40px;
  @include breakpoint-up(large) {
    width: 300px;
    margin: 0;
  }
  cursor: pointer;
  position: relative;
  .select {
    box-shadow: var(--box-shadow-cards);
    background-color: var(--bg-secondary);
    padding: 18px;
    color: var(--text-primary);
    font-weight: 500;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .options-list {
    position: absolute;
    width: 100%;
    background-color: var(--bg-secondary);
    overflow-y: auto;
    transition: 0.4s linear 0.2s;
    margin-top: 2px;
    height: 0;
    box-shadow: var(--box-shadow-cards);
  }

  .option {
    padding: 8px 22px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-primary);
    transition: 0.3s ease-in-out;
  }

  .option:hover,
  .option.selected {
    color: var(--text-primary);
    background-color: var(--background);
  }

  .options-list::-webkit-scrollbar {
    width: 4px;
    background-color: var(--bg-secondary);
  }

  .options-list::-webkit-scrollbar-thumb {
    background-color: var(--background);
  }

  .active {
    height: 180px;
  }
}
