header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: $darkBlue;
  .title {
    cursor: pointer;
  }
  span {
    color: $white;
  }
  .icon-val {
    margin-right: 12px;
  }
}
